<nav class="navbar navbar-default mega-nav">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainMenu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="MainMenu">
        <ul class="nav navbar-nav menu-list">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a *ngIf='!authService.isTokenLive()' [routerLink]="['/login']" >Login</a></li>
            <li><a *ngIf='!authService.isTokenLive()'  [routerLink]="['/register']">Register</a></li>
            <li><a *ngIf='authService.isTokenLive()'  [routerLink]="['/books']">Books</a></li>
            <li><a *ngIf='authService.isTokenLive()'  [routerLink]="['/profile']">Профил</a></li>
            <li><a *ngIf='adminService.isAdmin()'  [routerLink]="['/admin']">Admin</a></li>
            <li><a *ngIf='authService.isTokenLive()'  (click)="logout()" href="#">LogOut</a></li>
        </ul>
        <form id="mega-search" class="navbar-form navbar-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    </div>
</nav>